@model IEnumerable<ExamsHelper.Models.Univers>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Index</h2>

<form method="post">
    <select asp-items="ViewBag.univers" id="univer"></select>
</form>

<form method="post">
    <select asp-items="ViewBag.faculties" id="facultyid"></select>
</form>

@section scripts{
    <script type="text/javascript">
    $(function () {

        $('#univer').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetFacultiesOfUnivers")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    $('#facultyid').replaceWith(data);
                }
            });
        });
    })
    </script>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Town)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOfUniver)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Town)
                </td>
                <td>
                    <a asp-action="GetFaculties" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.NameOfUniver)
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>