@model ExamsHelper.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Admin";
}


<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<head>
    <style>
        /* Tabs panel */
        .tabbable-panel {
            border: 1px solid #eee;
            padding: 10px;
        }

        /* Default mode */
        .tabbable-line > .nav-tabs {
            border: none;
            margin: 0px;
        }

            .tabbable-line > .nav-tabs > li {
                margin-right: 2px;
            }

                .tabbable-line > .nav-tabs > li > a {
                    border: 0;
                    margin-right: 0;
                    color: #737373;
                }

                    .tabbable-line > .nav-tabs > li > a > i {
                        color: #a6a6a6;
                    }

                .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
                    border-bottom: 4px solid #fbcdcf;
                }

                    .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
                        border: 0;
                        background: none !important;
                        color: #333333;
                    }

                        .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
                            color: #a6a6a6;
                        }

                    .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
                        margin-top: 0px;
                    }

                .tabbable-line > .nav-tabs > li.active {
                    border-bottom: 4px solid #f3565d;
                    position: relative;
                }

                    .tabbable-line > .nav-tabs > li.active > a {
                        border: 0;
                        color: #333333;
                    }

                        .tabbable-line > .nav-tabs > li.active > a > i {
                            color: #404040;
                        }

        .tabbable-line > .tab-content {
            margin-top: -3px;
            background-color: #fff;
            border: 0;
            border-top: 1px solid #eee;
            padding: 15px 0;
        }

        .portlet .tabbable-line > .tab-content {
            padding-bottom: 0;
        }

        /* Below tabs mode */

        .tabbable-line.tabs-below > .nav-tabs > li {
            border-top: 4px solid transparent;
        }

            .tabbable-line.tabs-below > .nav-tabs > li > a {
                margin-top: 0;
            }

            .tabbable-line.tabs-below > .nav-tabs > li:hover {
                border-bottom: 0;
                border-top: 4px solid #fbcdcf;
            }

            .tabbable-line.tabs-below > .nav-tabs > li.active {
                margin-bottom: -2px;
                border-bottom: 0;
                border-top: 4px solid #f3565d;
            }

        .tabbable-line.tabs-below > .tab-content {
            margin-top: -10px;
            border-top: 0;
            border-bottom: 1px solid #eee;
            padding-bottom: 15px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Admin Panel</h3>
                <div class="tabbable-panel">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs ">
                            <li class="active">
                                <a href="#tab_default_1" data-toggle="tab">
                                    Users
                                </a>
                            </li>
                            <li>
                                <a href="#tab_default_2" data-toggle="tab">
                                    Univers
                                </a>
                            </li>
                            <li>
                                <a href="#tab_default_3" data-toggle="tab">
                                    Faculties
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_default_1">
                                <div class="well">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                Id
                                            </td>
                                            <td>
                                                Login
                                            </td>
                                            <td>
                                                Email
                                            </td>
                                            <td>
                                                Password
                                            </td>
                                            <td>
                                                Moderator
                                            </td>
                                            <td>
                                                Admin
                                            </td>
                                            <td>
                                                Univer
                                            </td>
                                            <td>
                                                Faculty
                                            </td>
                                            <td>
                                                Admin/!Admin
                                            </td>
                                            <td>
                                                Moder/!Moder
                                            </td>
                                            <td>
                                                Edit
                                            </td>
                                            <td>
                                                Delete
                                            </td>
                                        </tr>
                                        @foreach (var item in Model.users)
                                        {
                                        <tr>
                                            <td>
                                                @item.Id
                                            </td>
                                            <td>
                                                @item.Login
                                            </td>
                                            <td>
                                                @item.Email
                                            </td>
                                            <td>
                                                @item.Password
                                            </td>
                                            <td>
                                                @item.Moderator
                                            </td>
                                            <td>
                                                @item.Admin
                                            </td>
                                            <td>
                                                @item.Univers.NameOfUniver
                                            </td>
                                            <td>
                                                @item.Faculties.NameOfFaculties
                                            </td>
                                            <td>
                                                <a href="~/Admin/Admin/?id=@item.Id">Yes</a> / <a href="~/Admin/NoAdmin/?id=@item.Id">No </a>
                                            </td>
                                            <td>
                                                <a href="~/Admin/Moder/?id=@item.Id">Yes</a> / <a href="~/Admin/NoModer/?id=@item.Id">No </a>
                                            </td>
                                            <td>
                                                <a  asp-action="EditUser" asp-route-id="@item.Id"> Edit</a>
                                            </td>
                                            <td>
                                                <a href="~/Admin/DeleteUser/?id=@item.Id"> Delete</a>
                                            </td>
                                        </tr>
                                    }
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane" id="tab_default_2">
                                <div class="well">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                Id
                                            </td>
                                            <td>
                                                University Name
                                            </td>
                                            <td>
                                                Town
                                            </td>
                                            <td>
                                                Edit 
                                            </td>
                                            <td>
                                                Delete
                                            </td>
                                        </tr>

                                        @foreach (var item in Model.univers)
                                        {
                                        <tr>
                                            <td>
                                                @item.Id
                                            </td>
                                            <td>
                                                @item.NameOfUniver
                                            </td>
                                            <td>
                                                @item.Town
                                            </td>
                                            <td>
                                                <a asp-action="EditUniver" asp-route-id="@item.Id"> Edit</a>
                                            </td>
                                            <td>
                                                <a  href="~/Admin/DeleteUniversity/?id=@item.Id"> Delete</a>
                                            </td>
                                        </tr>
                                                }
                                        </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab_default_3">
                                <div class="well">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                Id
                                            </td>
                                            <td>
                                                Faculty Name
                                            </td>
                                            <td>
                                                University
                                            </td>
                                            <td>
                                                Edit
                                            </td>
                                            <td>
                                                Delete
                                            </td>
                                        </tr>

                                        @foreach (var item in Model.faculties)
                                        {
                                        <tr>
                                            <td>
                                                @item.Id
                                            </td>
                                            <td>
                                                @item.NameOfFaculties
                                            </td>
                                            <td>
                                                @item.Univers.NameOfUniver
                                            </td>
                                            <td>
                                                <a asp-action="EditFaculty" asp-route-id="@item.Id"> Edit</a>
                                            </td>
                                            <td>
                                                <a  href="~/Admin/DeleteFaculty/?id=@item.Id"> Delete</a>
                                            </td>
                                        </tr>
                                                }
                                           
                                        </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br>
</body>